# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
*.egg-info/

dist/
img/userdata
screenshots/

# Virtual environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# Xbox Game Bar / UWP build output
gamebar/**/bin/
gamebar/**/obj/
gamebar/**/AppPackages/
gamebar/artifacts/
gamebar/**/Assets/main_menu.png

# Logs
log/
*.log

# Windows
Thumbs.db
Desktop.ini

# Project specific
ext-exe/obj/
ext-exe/bin/
src/monkey.js
/src/map_handlers/debugpath/
*.xlsx
/python/Lib
/python/Scripts
/废案
/Keiframe_Release_v1.0
*.7z
/test_debug_output
/Keiframe_Release_v1.01
/Keiframe_Release_v1.02
/.venv
settings.json
/启动Keiframe.bat

#project embeddable required
!/python/*.pyd
!/python/*.dll
/python/share
/.vs
