# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
*.egg-info/

dist/
img/userdata
screenshots/

# Virtual environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# Logs
log/
*.log

# Windows
Thumbs.db
Desktop.ini

# Project specific
ext-exe/obj/
ext-exe/bin/
src/monkey.js
/src/map_handlers/debugpath/
*.xlsx
/tests
/python
/废案
/Keiframe_Release_v1.0
*.7z
/test_debug_output
/Keiframe_Release_v1.01
